# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/

# Virtual environments
venv/

# env variables
.env

# Checkpoints
.gradio/
.idea/

# Development files
dev/

# conda
anaconda_projects/